.project{
    margin: auto;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}

.project-display {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.project-detail{
    position: fixed;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: var(--accent);
    border: 5px solid var(--background);
    border-radius: 1.5rem;
    padding: 1.5rem;
    overflow-y: auto;
}

.project-desc img{
    max-width: 100%;
    height: auto;
}

.close-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.project-link::after{
    content: "\2192";
}
.project-item:hover{
    background-color: var(--background);
    border: 1px solid var(--accent);
}

.project-item img{
    max-width: 100%;
    width:auto;
    height: auto;
}

.project-item{
    max-width: 18rem;
    min-width: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.project-sidebar{
    background-color: var(--accent);
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: 100vh;
}
.project-links-container{
    display: flex;
    gap: 15px;
    justify-content: left;
}

.project-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-project{
    display: grid;
    grid-template-columns: 200px auto;
    gap: 10px;
    margin: 5px;
}

@media (max-width: 550px){
    #main-project{
        grid-template-columns: 1fr;
    }   
    .project-sidebar{
        position: static;
        top: auto;
    }
}
