.drop-zone {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    display: inline-block;
    padding: 25px;
}

#json-data{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.drag-item-card:hover{
    border: 1px solid black;
}
.drag-item-card{
    padding: 5px;
}

#error-message{
    color: red;
}