.page-link::after{
    content: "\2192";
}

.about-me-content{
    background-color: var(--color-300);
    color: val(--gray-900);
    box-sizing: border-box;
    padding: 20px 30px;
    max-width: 55rem;
    margin: auto;
    border-radius: 20px;
    line-height: 1.5rem;
}

.headshot{
    border-radius: 50%;
    height: auto;
    max-width: min(100%, 15rem);
    box-shadow: 0 0 5px 5px var(--color-300);
    overflow: hidden;
}

.about-me-container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me-links{
    margin: 30px;
    display: flex;
    gap: 25px;
    justify-content: center;

    & a {
        background-color: var(--color-300);
        color: var(--gray-900);
        text-decoration: none;
        box-sizing: border-box;
        padding: 15px;
        border-radius: 8px;
        transition: all 0.3s ease;
        font-weight: 600;
        border: 2px solid var(--color-300);

        &:hover{
            /* text-decoration: underline; */
            background-color: var(--gray-50);
        }

        &::after{
            content: "\2192";
        }
        
    }
}
