.background{
    background-color: var(--header-background);
    color: var(--header-text);
}

.header-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.header-content nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}
.back-to-top{
    color: var(--background);
}
.nav-link{
    text-decoration: none;
    color: var(--background);
    padding: 7px;
}

.nav-link:hover{ 
    /* background-color: rgb(80, 80, 80); */
    border: 1px solid var(--background);
}

.footer-content h3{
    text-decoration: underline;
    margin-bottom: 0px;
}
.footer-links{
    padding: 10px;
    display: flex; 
    justify-content: center; 
    gap: 8px;
}

.icon{
    height: 20px;
    width: auto;
}

#copyright::before{
    content: "\00A9";
}

@media (max-width: 800px){
    .header-content{
        flex-direction: column;
        align-items: center;
    }
}
