.course-item{
    width: min(100%, 45rem);
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--color-300);
    transition: all 0.3s ease;
    border-radius: 20px;
    text-align: left;

    &:hover{
        /* background-color: var(--color-400); */
        transform: translateY(-5px);
        color: var(--gray-900);
        /* border-radius: 1rem; */
        box-shadow: 0 4px 8px 0 rgb(0,0,0,.2), 0 6px 20px 0 rgb(0,0,0,.13);
    }
}

.courses-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    margin: 15px;
}

.course-desc{
    line-height: 1.6rem;
}

.course-title{
    font-size: 1.5rem;
}

.course-data{

    & > * {
        margin: 0;
        padding: 3px;
    }

}