.learner-card{
    padding: 15px;
}

.learner-card:hover{
    background-color: rgb(148, 208, 228);
}

ul{
    list-style-type: circle;
    justify-content:left;
}

.topic-header{
    margin-bottom: 0px;
}
.topic-subcontainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.topic-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}